
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(0, 0, 0);
    --secondary:white;
    --alternative: olive;
    --bgHeaderFooter: black;
    --awesome:orange;
    --bgCAbout: black;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgba(0 0 0);
    --card-box-shadow:.5vw .5vw 1vw ;
    --text-shadow:.3rem .3rem .4rem ;
    --mainBg: rgb(4, 45, 4);
    --bgImg: linear-gradient(--top-right, var(--awesome));
}

@property --top-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottem-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottem-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

:is(.navbar, footer) {
    background-color: var(--mainBg);
}

:is(a) {
    color: var(--secondary);
}
/* Navbar*/
img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}


